<footer
    data-analytics-scope='Footer'
    local-class='Footer'
>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-12 col-md-8 col-md-offset-2'>
                <p>
                    <span class='copyright'>
                        {{t 'footer.copyright' currentYear=this.currentYear htmlSafe=true}}
                    </span>
                    <OsfLink
                        data-analytics-name='cos_io'
                        @href={{this.cos}}
                    >
                        {{t 'general.cos' organization=this.organization}}
                    </OsfLink>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <OsfLink
                        data-analytics-name='terms'
                        @href={{this.termsLink}}
                    >
                        {{t 'footer.terms' htmlSafe=true}}
                    </OsfLink>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <OsfLink
                        data-analytics-name='privacy'
                        @href={{this.privacyPolicyLink}}
                    >
                        {{t 'footer.privacy' htmlSafe=true}}
                    </OsfLink>
                    <br>
                </p>
                <p>
                    <OsfLink
                        data-analytics-name='social_github'
                        aria-label={{t 'social.github'}}
                        @href={{this.github}}
                    >
                        <i class='fa fa-github fa-2x'></i>
                    </OsfLink>
                </p>
            </div>
        </div>
    </div>
</footer>
