<div local-class='project_editor'>
    {{#if this.loading}}
        {{t 'binderhub.loading'}}
    {{else}}
        {{#if this.manuallyChanged}}
            {{t 'binderhub.deployment.unavailable'}}
            <button
                data-test-view-dockerfile
                type='button'
                class='btn btn-default'
                {{action this.viewDockerfile target=this}}
            >
                {{t 'binderhub.deployment.view_dockerfile'}}
            </button>
            <button
                data-test-reset-dockerfile
                type='button'
                class='btn btn-danger'
                {{action (mut this.showResetDockerfileConfirmDialog) true}}
            >
                {{t 'binderhub.deployment.reset_dockerfile'}}
            </button>
        {{else}}
            <h3>{{t 'binderhub.deployment.environment'}}<//h3>
            {{#each this.selectableImages as |image|}}
                <div local-class='environment_candidate'>
                    <div local-class='environment_info'>
                        <div local-class='environment_name'>
                            {{image.name}}
                            {{#if (eq this.selectedImageUrl image.url)}}
                                <i
                                    data-test-image-selected={{image.url}}
                                    class='fa fa-check'
                                />
                            {{/if}}
                        </div>
                        <div local-class='environment_description'>{{image.description}}</div>
                    </div>
                    <div local-class='environment_select'>
                        {{#if (or (not this.selectedImageUrl) this.imageSelectable)}}
                            <button
                                data-test-image-selection={{image.url}}
                                type='button'
                                class='btn btn-default'
                                {{action this.selectImage image.url target=this}}
                            >
                                {{t 'binderhub.deployment.select_environment'}}
                            </button>
                        {{else}}
                            <button
                                data-test-image-change={{image.url}}
                                type='button'
                                class='btn btn-default'
                                {{action (mut this.imageSelectable) true}}
                            >
                                {{t 'binderhub.deployment.change_environment'}}
                            </button>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
            {{#if this.selectedImageUrl}}
                <h3>{{t 'binderhub.deployment.additionalpackages'}}</h3>
                <div local-class='packages'>
                    <GuidNode::Binderhub::-Components::PackageEditor
                        data-test-package-editor='apt'
                        @label='apt'
                        @packages={{this.aptPackages}}
                        @onUpdate={{action this.aptUpdated}}
                    />
                    {{#if this.condaSupported}}
                        <GuidNode::Binderhub::-Components::PackageEditor
                            data-test-package-editor='conda'
                            @label='conda'
                            @packages={{this.condaPackages}}
                            @onUpdate={{action this.condaUpdated}}
                        />
                    {{/if}}
                    {{#if this.pipSupported}}
                        <GuidNode::Binderhub::-Components::PackageEditor
                            data-test-package-editor='pip'
                            @label='pip'
                            @packages={{this.pipPackages}}
                            @onUpdate={{action this.pipUpdated}}
                        />
                    {{/if}}
                </div>
                <h3>{{t 'binderhub.deployment.postinstallscript'}}</h3>
            {{/if}}
        {{/if}}
    {{/if}}
</div>

<BsModal
    data-test-reset-dockerfile-confirm-modal
    @open={{this.showResetDockerfileConfirmDialog}}
    @onHidden={{action (mut this.showResetDockerfileConfirmDialog) false}}
    as |modal|
>
    <modal.header>
        <h4>
            {{t 'binderhub.deployment.reset_dockerfile_confirm_dialog_title'}}
        </h4>
    </modal.header>
    <modal.body>
        {{t 'binderhub.deployment.reset_dockerfile_confirm_dialog_body'}}
    </modal.body>
    <modal.footer>
        <BsButton
            @onClick={{action (mut this.showResetDockerfileConfirmDialog) false}}
        >
            {{t 'general.cancel'}}
        </BsButton>
        <BsButton
            @onClick={{action this.resetDockerfile}}
            @type='success'
        >
            {{t 'general.ok'}}
        </BsButton>
    </modal.footer>
</BsModal>
