<section
    local-class='hero'
    {{track-scroll 'Hero Banner'}}
>
    <header local-class='heroHeader'>
        <h1 data-test-hero-heading>
            {{#if this.shouldShowVersionB}}
                {{t 'osf-components.hero-banner.headingB'}}
            {{else}}
                {{t 'osf-components.hero-banner.headingA'}}
            {{/if}}
        </h1>
        <h2 data-test-hero-subheading>
            {{t 'osf-components.hero-banner.subheading'}}
        </h2>
        <div data-test-hero-container>
            <img
                data-hero-logo
                local-class='heroImg'
                src='/assets/images/new-home/rdm-logo-vertical.png'
                alt='GakuNin RDM'
            >
        </div>
    </header>
</section>
