<div local-class='build_console'>
    <div local-class='build_console_button'>
        {{#if this.buildPhase}}
            <div local-class='build_status'>
                <OsfButton
                   @type='link'
                   @onClick={{action (mut this.buildStatusOpen) (not this.buildStatusOpen)}}
                >
                    {{#if this.buildStatusOpen}}
                        {{fa-icon 'caret-down'}}
                    {{else}}
                        {{fa-icon 'caret-right'}}
                    {{/if}}
                </OsfButton>
                {{t 'binderhub.build.status'}}
            </div>
        {{else}}
            <div local-class='build_status'>
                {{t 'binderhub.build.launch'}}
            </div>
        {{/if}}
        {{#if this.buildPhase}}
            <div local-class='build_phase'>
                {{this.buildPhase}}
            </div>
        {{/if}}
        <div local-class='launch_buttons'>
            <GuidNode::Binderhub::-Components::LaunchButtons
                @binderHubConfig={{this.binderHubConfig}}
                @onClick={{action this.launch}}
            />
        </div>
    </div>
    {{#if (and this.buildStatusOpen this.buildLogVisible)}}
        <div local-class='build_terminal' id='binderhub-build-terminal'>
            <pre>{{this.buildLogLinesHTML}}</pre>
        </div>
    {{/if}}
</div>
