{{#if (not session.isAuthenticated) }}
    <li class='sign-in'>
        <div>
            {{#if useNavSignUp}}
            {{#hyper-link this.signUpRoute queryParams=this.signUpQueryParams class='btn btn-success btn-top-signup m-l-sm m-r-xs' analyticsLabel='Navbar - SignUp' testSelectorVal='sign-up-button'}}
                {{t 'auth_dropdown.sign_up'}}
            {{/hyper-link}}
            {{/if}}
            {{#if (not useNavEmbeddedDS)}}
            <a {{action 'login'}} data-test-sign-in-button onclick={{action 'click' 'button' 'Navbar - SignIn' target=analytics}} class="btn btn-info btn-top-login m-r-xs" role="button">
                {{t 'auth_dropdown.sign_in'}}
            </a>
            {{else}}
            <iframe id="wayfIniframe"></iframe>
            <script>
                let iframe = document.getElementById('wayfIniframe');
                let iframeDoc = iframe.contentWindow.document;
                let iframeBody = iframe.contentWindow.document.body;

                let wayfBody = iframeDoc.createElement('div');
                wayfBody.id = "wayfInMenu";
                wayfBody.style = "float: right; clear: right; position: relative;";
                iframeBody.appendChild(wayfBody);

                let wrapperScript = iframeDoc.createElement('script');
                wrapperScript.type = "text/javascript";
                wrapperScript.charset = "UTF-8";

                {{#each dsCONFIGs as |dsConfig|}}
                {
                    let wayfConfig = iframeDoc.createElement('script');
                    wayfConfig.type = "text/javascript";
                    wayfConfig.src = "{{dsConfig}}";
                    wrapperScript.appendChild(wayfConfig);
                }
                {{/each}}

                let dsBody = iframeDoc.createElement('script');
                dsBody.type = "text/javascript";
                dsBody.src = "{{dsURL}}";
                wrapperScript.appendChild(dsBody);
                console.log(iframe);
                wayfBody.appendChild(wrapperScript);
            </script>
            {{/if}}
        </div>
    </li>
{{else}}
    {{#bs-dropdown tagName='li' classNames='dropdown secondary-nav-dropdown' as |dd|}}
        {{#dd.toggle classNames='btn-link'}}
            <div class="osf-profile-image">
                <img src="{{user.profileImage}}&s=25" alt="{{t 'auth_dropdown.user_gravatar'}}">
            </div>
            <div class='nav-profile-name'>{{user.fullName}}</div>
            <span class="caret"></span>
        {{/dd.toggle}}

        {{#dd.menu classNames='auth-dropdown' local-class='AuthDropdown' as |ddm|}}
            {{#if headline}}
                {{#ddm.item (html-attributes role='none') local-class='Headline'}}
                    {{headline}}
                {{/ddm.item}}
            {{/if}}
            {{#ddm.item (html-attributes role='menuitem')}}
                <a href="{{profileURL}}" onclick={{action '_onLinkClicked' 'Navbar - MyProfile'}}>
                    <i class="fa fa-user fa-lg p-r-xs"></i>
                    {{t 'auth_dropdown.my_profile'}}
                </a>
            {{/ddm.item}}
            {{#if useNavSupport}}
            {{#ddm.item (html-attributes role='menuitem')}}
                {{#global-link-to 'support' click=(action '_onLinkClicked' 'Navbar - Support')}}
                    <i class="fa fa-life-ring fa-lg p-r-xs"></i>
                    {{t 'auth_dropdown.osf_support'}}
                {{/global-link-to}}
            {{/ddm.item}}
            {{/if}}
            {{#ddm.item (html-attributes role='menuitem')}}
                <a href="{{settingsURL}}" onclick={{action '_onLinkClicked' 'Navbar - Settings'}}>
                    <i class="fa fa-cog fa-lg p-r-xs"></i>
                    {{t 'general.settings'}}
                </a>
            {{/ddm.item}}
            {{#ddm.item (html-attributes role='menuitem')}}
                <a class="logoutLink" role="button" {{action 'logout'}} {{action '_onLinkClicked' 'Navbar - Logout'}}>
                    <i class="fa fa-sign-out fa-lg p-r-xs"></i>
                    {{t 'auth_dropdown.log_out'}}
                </a>
            {{/ddm.item}}
        {{/dd.menu}}
    {{/bs-dropdown}}
{{/if}}
