<div local-class='jupyter_servers'>
    <div class='form-group row'>
        <div class='form-group col-md-3'>
            <select
                data-test-provider-selection
                class='form-control'
                onchange={{action this.providerChanged value='target.value'}}
            >
                {{#each this.providerList as |item|}}
                    <option selected={{if (eq this.providerId item.id) 'selected'}} value='{{item.id}}'>
                        {{item.text}}
                    </option>
                {{/each}}
            </select>
        </div>
        <div class='form-group col-md-9'>
            <label for='repository'>{{ this.providerLabels.repositoryLabel }}</label>
            <input
                name='repository'
                placeholder={{this.providerLabels.repositoryPlaceholder}}
                value={{this.repository}}
                class='form-control'
                type='text'
                onblur={{action this.repositoryChanged value='target.value'}}
                onchange={{action this.repositoryChanged value='target.value'}}
            >
        </div>
    </div>
    <div class='form-row row'>
        <div class='form-group col-md-3'>
        </div>
        <div class='form-group col-md-9'>
            <label for='ref'>{{ this.providerLabels.refLabel }}</label>
            <input
                name='ref'
                placeholder={{this.providerLabels.refPlaceholder}}
                disabled={{this.providerLabels.refDisabled}}
                value={{this.ref}}
                class='form-control'
                type='text'
                onblur={{action this.refChanged value='target.value'}}
                onchange={{action this.refChanged value='target.value'}}
            >
        </div>
    </div>
</div>
