{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{title (t 'iqbrims.page_title' nodeTitle=this.model.taskInstance.value.unsafeTitle)}}
<div class='container' local-class='IQBRIMS'>
    <div
        local-class='IQBRIMS__editor {{if this.submitting 'IQBRIMS__overview_disabled'}} {{if (or this.submitting (not this.isPaperVisible)) 'IQBRIMS__paper_disabled'}} {{if (or this.submitting (not this.isRawVisible)) 'IQBRIMS__raw_disabled'}} {{if (or this.submitting (not this.isChecklistVisible)) 'IQBRIMS__checklist_disabled'}}'
    >
        {{#if this.modeUnknown}}
        {{else if this.modeAdmin}}
            <i>{{t 'iqbrims.management_project'}}</i>
            <div>
                <a data-test-task-url
                    href='{{this.flowableTaskUrl}}'
                    target='_blank'
                    rel='noopener'
                >
                    {{t 'iqbrims.flowable_task_service'}}
                </a>
            </div>
        {{else if (or this.modeDeposit this.modeCheck)}}
            {{#if this.modeDeposit}}
                {{#if this.loadingForDeposit}}
                    {{t 'iqbrims.loading'}}
                {{/if}}
            {{else if this.modeCheck}}
                {{#if this.loadingForCheck}}
                    {{t 'iqbrims.loading'}}
                {{/if}}
            {{/if}}
            <div local-class='IQBRIMS__{{if this.modeDeposit this.panelStatusForDeposit this.panelStatusForCheck}}'>
                <BsTab
                    @activeId={{this.activeTab}}
                    @onChange={{action this.changeTab}}
                    as |tab|
                >
                    <tab.pane
                        @id='overview'
                        @title={{t 'iqbrims.header_overview' }}
                    >
                        <h2 local-class='IQBRIMS__header'>{{t 'iqbrims.header_overview' }}</h2>
                        <div class='form-group row'>
                            <label class='col-sm-2' for='paper_title'>{{t 'iqbrims.paper_title'}}</label>
                            <div data-test-paper-title class='col-sm-10'>
                                {{this.paperTitle}}
                            </div>
                        </div>
                        <div class='form-group row'>
                            <label class='col-sm-2' for='contributors'>{{t 'iqbrims.contributors'}}</label>
                            <div class='col-sm-10'>
                                <div>
                                    {{this.owner.fullName}}
                                </div>
                                {{#each this.otherContributors as |item|}}
                                    <div>
                                        {{item.fullName}}
                                    </div>
                                {{/each}}
                                <OsfButton
                                    @onClick={{action this.editContributors}}
                                    @type='default'
                                    @size='xs'>
                                    <i class='fa fa-edit'> {{t 'iqbrims.edit_contributors'}}</i>
                                </OsfButton>
                            </div>
                        </div>
                        <div class='form-group row'>
                            <label class='col-sm-2' for='labo'>
                                {{t 'iqbrims.labo'}} <span local-class='IQBRIMS__required'>*</span>
                            </label>
                            <div data-test-labo-name class='col-sm-10'>
                                {{#if this.isNotSubmitted}}
                                    <select
                                        data-test-labo-selection
                                        class='form-control'
                                        onchange={{action this.laboChanged value='target.value'}}
                                    >
                                        <option selected={{if (eq this.laboId '') 'selected'}} value=''>
                                            {{t 'iqbrims.placeholders.labo'}}
                                        </option>
                                        {{#each this.laboList as |item|}}
                                            <option selected={{if (eq this.laboId item.id) 'selected'}} value='{{item.id}}'>
                                                {{item.text}}
                                            </option>
                                        {{/each}}
                                    </select>
                                {{else}}
                                    {{this.laboName}}
                                {{/if}}
                            </div>
                        </div>
                        <div class='form-group row'>
                            <label class='col-sm-2' for='email'>{{t 'iqbrims.email'}}</label>
                            <div class='col-sm-10'>
                                {{#each this.contributorEmails as |email|}}
                                    <div>
                                        {{email}}
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        {{#if this.modeDeposit}}
                            <div class='form-group row'>
                                <label class='col-sm-2' for='accepted_date'>
                                    {{t 'iqbrims.accepted_date'}} <span local-class='IQBRIMS__required'>*</span>
                                </label>
                                <div class='col-sm-10'>
                                    {{validated-input/date
                                        model=this
                                        valuePath='acceptedDate'
                                        shouldShowMessages=@didValidate
                                    }}
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label class='col-sm-2' for='journal_name'>
                                    {{t 'iqbrims.journal_name'}} <span local-class='IQBRIMS__required'>*</span>
                                </label>
                                <div data-test-journal-name class='col-sm-10'>
                                    {{input
                                        name='journal_name'
                                        placeholder=(t 'iqbrims.placeholders.journal_name')
                                        class='form-control'
                                        value=this.journalName
                                        type='text'
                                    }}
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label class='col-sm-2' for='doi'>{{t 'iqbrims.doi'}}</label>
                                <div class='col-sm-10'>
                                    {{input
                                        name='doi'
                                        placeholder=(t 'iqbrims.placeholders.doi')
                                        class='form-control'
                                        value=this.doi
                                        type='text'
                                    }}
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label class='col-sm-2' for='publish_date'>{{t 'iqbrims.publish_date'}}</label>
                                <div class='col-sm-10'>
                                    {{validated-input/date
                                        model=this
                                        valuePath='publishDate'
                                        shouldShowMessages=@didValidate
                                    }}
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label class='col-sm-2' for='volume'>{{t 'iqbrims.volume'}}</label>
                                <div class='col-sm-10'>
                                    {{input
                                        name='volume'
                                        placeholder=(t 'iqbrims.placeholders.volume')
                                        class='form-control'
                                        value=this.volume
                                        type='text'
                                    }}
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label class='col-sm-2' for='page_number'>{{t 'iqbrims.page_number'}}</label>
                                <div class='col-sm-10'>
                                    {{input
                                        name='page_number'
                                        placeholder=(t 'iqbrims.placeholders.page_number')
                                        class='form-control'
                                        value=this.pageNumber
                                        type='text'
                                    }}
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label class='col-sm-2' for='page_number'>{{t 'iqbrims.submit_files'}}</label>
                                <div class='col-sm-10' local-class='IQBRIMS__has_files'>
                                    {{#if this.isNotSubmitted}}
                                        {{input
                                            name='has_paper'
                                            id='has_paper'
                                            checked=this.hasPaper
                                            type='checkbox'
                                        }}
                                    {{else}}
                                        {{#if this.hasPaper}}
                                            <i class='fa fa-check-square'></i>
                                        {{else}}
                                            <i class='fa fa-square'></i>
                                        {{/if}}
                                    {{/if}}
                                    <label for='has_paper'>{{t 'iqbrims.has_paper'}}</label>
                                    {{#if this.isNotSubmitted}}
                                        {{input
                                            name='has_raw'
                                            id='has_raw'
                                            checked=this.hasRaw
                                            type='checkbox'
                                        }}
                                    {{else}}
                                        {{#if this.hasRaw}}
                                            <i class='fa fa-check-square'></i>
                                        {{else}}
                                            <i class='fa fa-square'></i>
                                        {{/if}}
                                    {{/if}}
                                    <label for='has_raw'>{{t 'iqbrims.has_raw'}}</label>
                                    {{#if this.isNotSubmitted}}
                                        {{input
                                            name='has_checklist'
                                            id='has_checklist'
                                            checked=this.hasChecklist
                                            type='checkbox'
                                        }}
                                    {{else}}
                                        {{#if this.hasChecklist}}
                                            <i class='fa fa-check-square'></i>
                                        {{else}}
                                            <i class='fa fa-square'></i>
                                        {{/if}}
                                    {{/if}}
                                    <label for='has_checklist'>{{t 'iqbrims.has_checklist'}}</label>
                                </div>
                            </div>
                        {{/if}}
                        <div class='form-group row'>
                            <label class='col-sm-2' for='files_comment'>{{t 'iqbrims.files_comment'}}</label>
                            <div class='col-sm-10'>
                                <textarea
                                    data-test-files-comment
                                    name='files_comment'
                                    class='form-control'
                                    placeholder={{t 'iqbrims.placeholders.files_comment'}}
                                    value={{this.filesComment}}
                                    onchange={{action this.filesCommentChanged value='target.value'}}
                                />
                            </div>
                        </div>
                        <div class='form-group row'>
                            <label class='col-sm-2' for='page_number'>{{t 'iqbrims.workflow_overall_state'}}</label>
                            <div class='col-sm-10'>
                                {{this.workflowOverallState}}
                            </div>
                        </div>
                        <div class='text-right' local-class='IQBRIMS__buttons'>
                            {{#if this.submitting}}
                                <OsfButton @type='default'>
                                    {{t 'iqbrims.processing_submit_button'}}
                                </OsfButton>
                            {{else}}
                                <OsfButton data-test-submit-button
                                           @type='success'
                                           @disabled={{not (and this.isFilled (or this.isNotSubmitted this.hasDirty))}}
                                           @onClick={{action this.submitOverview}}>
                                    {{#if this.isNotSubmitted}}
                                        {{t 'iqbrims.submit_button'}}
                                    {{else}}
                                        {{t 'iqbrims.confirm_button'}}
                                    {{/if}}
                                </OsfButton>
                            {{/if}}
                        </div>
                    </tab.pane>
                    <tab.pane
                        @id='paper'
                        @title={{t 'iqbrims.header_manuscripts' }}
                    >
                        <h2 local-class='IQBRIMS__header'>{{t 'iqbrims.header_manuscripts' }}</h2>
                        {{#if (not this.isPaperUploadable)}}
                            <div class='form-group row'>
                                <label class='col-sm-2'>{{t 'iqbrims.submit_manuscripts'}}</label>
                                <div class='col-sm-10'>
                                    {{this.workflowPaperState}}
                                </div>
                            </div>
                            <div class='row' local-class='IQBRIMS__file_header'>
                                <div class='col-md-8'>
                                    {{t 'iqbrims.submitted_name'}}
                                </div>
                                <div class='col-md-4'>
                                    {{t 'iqbrims.submitted_modified'}}
                                </div>
                            </div>
                            {{#each this.manuscriptFiles.gdAllFiles as |item|}}
                                <div class='row' local-class='IQBRIMS__file_body'>
                                    <div class='col-md-8'>
                                        <i class='fa fa-file-o'></i>{{item.name}}
                                    </div>
                                    <div class='col-md-4'>
                                        {{item.dateModified}}
                                    </div>
                                </div>
                            {{/each}}
                            {{#if (or this.manuscriptFiles.gdLoading this.manuscriptFiles.gdEmpty)}}
                                <div class='row' local-class='IQBRIMS__file_body'>
                                    <div class='col-md-12'>{{t 'iqbrims.submitted_loading'}}</div>
                                </div>
                            {{/if}}
                            <div class='form-group row' local-class='IQBRIMS__comment'>
                                <label class='col-sm-2'>{{t 'iqbrims.uploader_comment'}}</label>
                                <div class='col-sm-10'>
                                    <pre>{{this.paperComment}}</pre>
                                </div>
                            </div>
                            <div class='row' local-class='IQBRIMS__file_footer'>
                            </div>
                        {{else}}
                            {{#if this.manuscriptFiles.rejectedFiles.length}}
                                <div local-class='IQBRIMS__file_error'>
                                    {{t 'iqbrims.uploader_rejected_manuscript_files'}}
                                    {{this.manuscriptFiles.rejectedFiles}}
                                </div>
                            {{/if}}
                            <FileBrowser
                                data-test-paper-uploader
                                @dzUploadButtonClass='dz-manuscript-upload-button'
                                @dzFileBrowserListClass='dz-manuscript-file-browser-list'
                                @user={{this.user}}
                                @items={{this.manuscriptFiles.files}}
                                @filter={{this.manuscriptFiles.filter}}
                                @sort={{this.manuscriptFiles.sort}}
                                @canEdit={{this.manuscriptFiles.canEdit}}
                                @newProject={{this.manuscriptFiles.newProject}}
                                @openFile={{action this.manuscriptFiles.openFile}}
                                @updateFilter={{perform this.manuscriptFiles.updateFilter}}
                                @dropZoneId='manuscript-dropzone'
                                @deleteFiles={{perform this.manuscriptFiles.deleteFiles}}
                                @moveFile={{perform this.manuscriptFiles.moveFile}}
                                @renameFile={{perform this.manuscriptFiles.renameFile}}
                                @addFile={{perform this.manuscriptFiles.addFile}}
                                @buildUrl={{action this.buildManuscriptFileUrl}}
                                @dropzoneOptions={{this.manuscriptFiles.dropzoneOptions}}
                            />
                            <div class='form-group row' local-class='IQBRIMS__comment'>
                                <label class='col-sm-2' for='paper_comment'>{{t 'iqbrims.uploader_comment'}}</label>
                                <div class='col-sm-10'>
                                    <textarea
                                        data-test-paper-uploader-comment
                                        name='paper_comment'
                                        class='form-control'
                                        placeholder={{t 'iqbrims.placeholders.uploader_comment'}}
                                        value={{this.paperComment}}
                                        onchange={{action this.paperCommentChanged value='target.value'}}
                                    />
                                </div>
                            </div>
                            <div class='text-right' local-class='IQBRIMS__buttons'>
                                <OsfButton data-test-submit-paper-button
                                           @type='success'
                                           @disabled={{not this.hasChangedPaperFiles}}
                                           @onClick={{action (mut this.showPaperConfirmDialog) true}}
                                >
                                    {{t 'iqbrims.submit_button'}}
                                </OsfButton>
                            </div>
                        {{/if}}
                    </tab.pane>
                    {{#if this.modeDeposit}}
                        <tab.pane
                            @id='raw'
                            @title={{t 'iqbrims.header_data' }}
                        >
                            <h2 local-class='IQBRIMS__header'>{{t 'iqbrims.header_data' }}</h2>
                            {{#if this.isRawUploadable}}
                                <div class='form-group row'>
                                    <div class='col-sm-12 checkbox' local-class='IQBRIMS__checkbox'>
                                        {{input
                                            name='is_directly_submit_data'
                                            id='is_directly_submit_data'
                                            checked=this.isDirectlySubmitData
                                            type='checkbox'
                                        }}
                                        <label for='is_directly_submit_data'>{{t 'iqbrims.directly_submit_data'}}</label>
                                    </div>
                                </div>
                            {{else}}
                                <div class='form-group row'>
                                    <div class='col-sm-12 checkbox' local-class='IQBRIMS__checkbox'>
                                        {{#if this.isDirectlySubmitData}}
                                            <i class='fa fa-check-square'></i>
                                        {{else}}
                                            <i class='fa fa-square'></i>
                                        {{/if}}
                                        <label for='is_directly_submit_data'>{{t 'iqbrims.directly_submit_data'}}</label>
                                    </div>
                                </div>
                            {{/if}}
                            {{#if (not this.isRawUploadable)}}
                                <div class='form-group row'>
                                    <label class='col-sm-2'>{{t 'iqbrims.submit_data'}}</label>
                                    <div class='col-sm-10'>
                                        {{this.workflowRawState}}
                                    </div>
                                </div>
                                <div class='row' local-class='IQBRIMS__file_header'>
                                    <div class='col-md-8'>
                                        {{t 'iqbrims.submitted_name'}}
                                    </div>
                                    <div class='col-md-4'>
                                        {{t 'iqbrims.submitted_modified'}}
                                    </div>
                                </div>
                                {{#each this.dataFiles.gdAllFiles as |item|}}
                                    <div class='row' local-class='IQBRIMS__file_body'>
                                        <div class='col-md-8'>
                                            <i class='fa fa-file-o'></i>{{item.name}}
                                        </div>
                                        <div class='col-md-4'>
                                            {{item.dateModified}}
                                        </div>
                                    </div>
                                {{/each}}
                                {{#if (and this.isDirectlySubmitData this.dataFiles.gdEmpty)}}
                                    <div class='row' local-class='IQBRIMS__file_body'>
                                        <div class='col-md-12'>{{t 'iqbrims.submitted_no_data'}}</div>
                                    </div>
                                {{else if (or this.dataFiles.gdLoading this.dataFiles.gdEmpty)}}
                                    <div class='row' local-class='IQBRIMS__file_body'>
                                        <div class='col-md-12'>{{t 'iqbrims.submitted_loading'}}</div>
                                    </div>
                                {{/if}}
                                <div class='form-group row' local-class='IQBRIMS__comment'>
                                    <label class='col-sm-2'>{{t 'iqbrims.uploader_comment'}}</label>
                                    <div class='col-sm-10'>
                                        <pre>{{this.rawComment}}</pre>
                                    </div>
                                </div>
                                <div class='row' local-class='IQBRIMS__file_footer'>
                                </div>
                            {{else}}
                                {{#if this.dataFiles.rejectedFiles.length}}
                                    <div local-class='IQBRIMS__file_error'>
                                        {{t 'iqbrims.uploader_rejected_data_files'}}
                                        {{this.dataFiles.rejectedFiles}}
                                    </div>
                                {{/if}}
                                <FileBrowser
                                    data-test-raw-uploader
                                    @dzUploadButtonClass='dz-data-upload-button'
                                    @dzFileBrowserListClass='dz-data-file-browser-list'
                                    @user={{this.user}}
                                    @items={{this.dataFiles.files}}
                                    @filter={{this.dataFiles.filter}}
                                    @sort={{this.dataFiles.sort}}
                                    @canEdit={{this.dataFiles.canEdit}}
                                    @newProject={{this.dataFiles.newProject}}
                                    @openFile={{action this.dataFiles.openFile}}
                                    @updateFilter={{perform this.dataFiles.updateFilter}}
                                    @dropZoneId='data-dropzone'
                                    @deleteFiles={{perform this.dataFiles.deleteFiles}}
                                    @moveFile={{perform this.dataFiles.moveFile}}
                                    @renameFile={{perform this.dataFiles.renameFile}}
                                    @addFile={{perform this.dataFiles.addFile}}
                                    @buildUrl={{action this.buildDataFileUrl}}
                                    @dropzoneOptions={{this.dataFiles.dropzoneOptions}}
                                />
                                <div class='form-group row' local-class='IQBRIMS__comment'>
                                    <label class='col-sm-2' for='raw_comment'>{{t 'iqbrims.uploader_comment'}}</label>
                                    <div class='col-sm-10'>
                                        <textarea
                                            data-test-raw-uploader-comment
                                            name='raw_comment'
                                            class='form-control'
                                            placeholder={{t 'iqbrims.placeholders.uploader_comment'}}
                                            value={{this.rawComment}}
                                            onchange={{action this.rawCommentChanged value='target.value'}}
                                        />
                                    </div>
                                </div>
                                <div class='text-right' local-class='IQBRIMS__buttons'>
                                    <OsfButton data-test-submit-raw-button
                                               @type='success'
                                               @disabled={{not (or this.hasChangedRawFiles this.isDirectlySubmitData)}}
                                               @onClick={{action (mut this.showRawConfirmDialog) true}}
                                    >
                                        {{t 'iqbrims.submit_button'}}
                                    </OsfButton>
                                </div>
                            {{/if}}
                        </tab.pane>
                        <tab.pane
                            @id='checklist'
                            @title={{t 'iqbrims.header_checklist' }}
                        >
                            <h2 local-class='IQBRIMS__header'>{{t 'iqbrims.header_checklist' }}</h2>
                            {{#if (not this.isChecklistUploadable)}}
                                <div class='form-group row'>
                                    <label class='col-sm-2'>{{t 'iqbrims.submit_checklist'}}</label>
                                    <div class='col-sm-10'>
                                        {{this.workflowChecklistState}}
                                    </div>
                                </div>
                                <div class='row' local-class='IQBRIMS__file_header'>
                                    <div class='col-md-8'>
                                        {{t 'iqbrims.submitted_name'}}
                                    </div>
                                    <div class='col-md-4'>
                                        {{t 'iqbrims.submitted_modified'}}
                                    </div>
                                </div>
                                {{#each this.checklistFiles.gdAllFiles as |item|}}
                                    <div class='row' local-class='IQBRIMS__file_body'>
                                        <div class='col-md-8'>
                                            <i class='fa fa-file-o'></i>{{item.name}}
                                        </div>
                                        <div class='col-md-4'>
                                            {{item.dateModified}}
                                        </div>
                                    </div>
                                {{/each}}
                                {{#if (or this.checklistFiles.gdLoading this.checklistFiles.gdEmpty)}}
                                    <div class='row' local-class='IQBRIMS__file_body'>
                                        <div class='col-md-12'>{{t 'iqbrims.submitted_loading'}}</div>
                                    </div>
                                {{/if}}
                                <div class='form-group row' local-class='IQBRIMS__comment'>
                                    <label class='col-sm-2'>{{t 'iqbrims.uploader_comment'}}</label>
                                    <div class='col-sm-10'>
                                        <pre>{{this.checklistComment}}</pre>
                                    </div>
                                </div>
                                <div class='row' local-class='IQBRIMS__file_footer'>
                                </div>
                            {{else}}
                                {{#if this.checklistFiles.rejectedFiles.length}}
                                    <div local-class='IQBRIMS__file_error'>
                                        {{t 'iqbrims.uploader_rejected_checklist_files'}}
                                        {{this.checklistFiles.rejectedFiles}}
                                    </div>
                                {{/if}}
                                <FileBrowser
                                    data-test-checklist-uploader
                                    @dzUploadButtonClass='dz-checklist-upload-button'
                                    @dzFileBrowserListClass='dz-checklist-file-browser-list'
                                    @user={{this.user}}
                                    @items={{this.checklistFiles.files}}
                                    @filter={{this.checklistFiles.filter}}
                                    @sort={{this.checklistFiles.sort}}
                                    @canEdit={{this.checklistFiles.canEdit}}
                                    @newProject={{this.checklistFiles.newProject}}
                                    @openFile={{action this.checklistFiles.openFile}}
                                    @updateFilter={{perform this.checklistFiles.updateFilter}}
                                    @dropZoneId='checklist-dropzone'
                                    @deleteFiles={{perform this.checklistFiles.deleteFiles}}
                                    @moveFile={{perform this.checklistFiles.moveFile}}
                                    @renameFile={{perform this.checklistFiles.renameFile}}
                                    @addFile={{perform this.checklistFiles.addFile}}
                                    @buildUrl={{action this.buildChecklistFileUrl}}
                                    @dropzoneOptions={{this.checklistFiles.dropzoneOptions}}
                                />
                                <div class='form-group row' local-class='IQBRIMS__comment'>
                                    <label class='col-sm-2' for='checklist_comment'>{{t 'iqbrims.uploader_comment'}}</label>
                                    <div class='col-sm-10'>
                                        <textarea
                                            data-test-checklist-uploader-comment
                                            name='checklist_comment'
                                            class='form-control'
                                            placeholder={{t 'iqbrims.placeholders.uploader_comment'}}
                                            value={{this.checklistComment}}
                                            onchange={{action this.checklistCommentChanged value='target.value'}}
                                        />
                                    </div>
                                </div>
                                <div class='text-right' local-class='IQBRIMS__buttons'>
                                    <OsfButton data-test-submit-checklist-button
                                               @type='success'
                                               @disabled={{not this.hasChangedChecklistFiles}}
                                               @onClick={{action (mut this.showChecklistConfirmDialog) true}}
                                    >
                                        {{t 'iqbrims.submit_button'}}
                                    </OsfButton>
                                </div>
                            {{/if}}
                        </tab.pane>
                    {{/if}}
                </BsTab>
            </div>
        {{else}}
            <div class='form-group'>
                <OsfButton data-test-start-deposit
                           @type='primary'
                           @onClick={{action this.startDeposit}}>
                    {{t 'iqbrims.deposit_button'}}
                </OsfButton>
                <small class='form-text text-muted'>
                    {{t 'iqbrims.deposit_help'}}
                </small>
            </div>
            <div class='form-group'>
                <OsfButton data-test-start-check
                           @type='primary'
                           @onClick={{action this.startCheck}}>
                    {{t 'iqbrims.check_button'}}
                </OsfButton>
                <small class='form-text text-muted'>
                    {{t 'iqbrims.check_help'}}
                </small>
            </div>
        {{/if}}
    </div>
</div>

<BsModal
    data-test-paper-confirm-modal
    @open={{this.showPaperConfirmDialog}}
    @onHidden={{action (mut this.showPaperConfirmDialog) false}}
    as |modal|
>
    <modal.header>
        <h4>
            {{t 'iqbrims.file_confirm_dialog_title'}}
        </h4>
    </modal.header>
    <modal.body>
        {{t 'iqbrims.file_confirm_dialog_body'}}
    </modal.body>
    <modal.footer>
        <BsButton
            @disabled={{this.submitting}}
            @onClick={{action this.closeDialogs}}
        >
            {{t 'general.cancel'}}
        </BsButton>
        {{#if this.submitting}}
            <BsButton @type='default'>
                {{t 'iqbrims.processing_submit_button'}}
            </BsButton>
        {{else}}
            <BsButton
                @onClick={{action this.submitPaper}}
                @type='success'
            >
                {{t 'general.ok'}}
            </BsButton>
        {{/if}}
    </modal.footer>
</BsModal>

<BsModal
    data-test-raw-confirm-modal
    @open={{this.showRawConfirmDialog}}
    @onHidden={{action (mut this.showRawConfirmDialog) false}}
    as |modal|
>
    <modal.header>
        <h4>
            {{t 'iqbrims.file_confirm_dialog_title'}}
        </h4>
    </modal.header>
    <modal.body>
        {{t 'iqbrims.file_confirm_dialog_body'}}
    </modal.body>
    <modal.footer>
        <BsButton
            @disabled={{this.submitting}}
            @onClick={{action this.closeDialogs}}
        >
            {{t 'general.cancel'}}
        </BsButton>
        {{#if this.submitting}}
            <BsButton @type='default'>
                {{t 'iqbrims.processing_submit_button'}}
            </BsButton>
        {{else}}
            <BsButton
                @onClick={{action this.submitRaw}}
                @type='success'
            >
                {{t 'general.ok'}}
            </BsButton>
        {{/if}}
    </modal.footer>
</BsModal>

<BsModal
    data-test-checklist-confirm-modal
    @open={{this.showChecklistConfirmDialog}}
    @onHidden={{action (mut this.showChecklistConfirmDialog) false}}
    as |modal|
>
    <modal.header>
        <h4>
            {{t 'iqbrims.file_confirm_dialog_title'}}
        </h4>
    </modal.header>
    <modal.body>
        {{t 'iqbrims.file_confirm_dialog_body'}}
    </modal.body>
    <modal.footer>
        <BsButton
            @disabled={{this.submitting}}
            @onClick={{action this.closeDialogs}}
        >
            {{t 'general.cancel'}}
        </BsButton>
        {{#if this.submitting}}
            <BsButton @type='default'>
                {{t 'iqbrims.processing_submit_button'}}
            </BsButton>
        {{else}}
            <BsButton
                @onClick={{action this.submitChecklist}}
                @type='success'
            >
                {{t 'general.ok'}}
            </BsButton>
        {{/if}}
    </modal.footer>
</BsModal>
