{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{title (t 'binderhub.page_title' nodeTitle=this.model.taskInstance.value.unsafeTitle)}}
<div class='container' local-class='BinderHub'>
    {{#if this.loading}}
        {{t 'binderhub.loading'}}
    {{else}}
        <div local-class='BinderHub__editor'>
            <h2
                data-test-servers-header
                local-class='BinderHub__header'
            >
                {{t 'binderhub.jupyter_servers_list.header'}}
            </h2>
            <div local-class='BinderHub__panel'>
                <GuidNode::Binderhub::-Components::JupyterServersList
                    @node={{this.node}}
                    @binderHubConfig={{this.config}}
                    @renewToken={{action this.renewJupyterHubToken}}
                />
            </div>
            <h2
                data-test-binderhub-header
                local-class='BinderHub__header'
            >
                {{t 'binderhub.project_editor.header'}}
            </h2>
            <BsTab
                data-analytics-scope='BinderHub Tab'
                @activeId={{this.activeTab}}
                @onChange={{action this.changeTab}}
                as |tab|
            >
                <tab.pane
                    @id='editproject'
                    @title={{t 'binderhub.project_editor.tab_editproject'}}
                >
                    <div local-class='BinderHub__panel'>
                        <GuidNode::Binderhub::-Components::ProjectEditor
                            @binderHubConfig={{this.config}}
                            @configFolder={{this.defaultStorage}}
                            @configStorageProvider={{this.defaultStorageProvider}}
                            @renewToken={{action this.renewBinderHubToken}}
                        />
                    </div>
                </tab.pane>
                <tab.pane
                    @id='externalrepo'
                    @title={{t 'binderhub.project_editor.tab_externalrepo'}}
                >
                    <div local-class='BinderHub__panel'>
                        <GuidNode::Binderhub::-Components::ExternalRepository
                            @onChange={{action this.externalRepoChanged}}/>
                    </div>
                </tab.pane>
            </BsTab>
            <GuidNode::Binderhub::-Components::BuildConsole
                @requestBuild={{action this.build}}
                @buildLog={{this.buildLog}}
              />
        </div>
    {{/if}}
</div>
